<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5cSm0f61QMTAXoGMHy2qBpVEBsjfIobQ</string>
	<key>GCM_SENDER_ID</key>
	<string>177928115850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sujitgyawali.farmiCulture</string>
	<key>PROJECT_ID</key>
	<string>feedback-form-672ee</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-form-672ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177928115850:ios:d7f2e8bc4011e884ac3f73</string>
	<key>DATABASE_URL</key>
	<string>https://feedback-form-672ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>